---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Noticias y Eventos">
    <Header />
    <Navigation />
    <main>
        <h1>Noticias y Eventos</h1>
        <!-- Content placeholder -->
    </main>
</Layout>
